$primary-color: #e8d6d0;
$secondary-color: #c89f94;
$coffee-color: #a25f4b;
$coffee-color-bold: #744838;
$text-color: #1f2937;
$gray-color: #6b7280;
$bg-color: #1d1f2e;

$font-primary: "Karla", sans-serif;
